Package: func-utils-lib-test-dbgsym
Source: func-utils-lib-test
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Deepin Packages xxxxxx <packages@deepin.com>
Installed-Size: 15
Depends: func-utils-lib-test (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for func-utils-lib-test
Build-Ids: 7b641a3e6fdc9f4e87145c0c63ec6d8b95259020
